# Environment files
.env
credentials

# DevOps
.devops

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Logs and reports
*.log
logs/
reports/

# AWS & deployment artifacts
*.zip
*.tar.gz
build/
dist/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Keys and secrets
keys/
*.pem
*.key

# Docker
*.env.docker
docker-compose.override.yml
/build-goaccess

# Jupyter or temporary notebooks
*.ipynb_checkpoints/

#node modules
src/lambda_fetch_logs_node/node_modules
src/view_report/node_modules
